/* NAV BAR ADM - DESKTOP */
#navBar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkpink);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}
#navBarResponsivo {
    display: none;
}

#navBar.minimized {
    width: 80px;
    padding: 20px 10px;
}
#navBar.minimized .nav-item {
    justify-content: center;
}
#navBar.minimized .textMenuItem {
    display: none;
}
#navBar.minimized .textMenu {
    display: none;
}
#navBar.minimized i {
    font-size: 24px;
}

#adm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
#divMenu {
    display: flex;
    justify-content: center;
    padding: 30px;
}
#divMenu i {
    font-size: 22px;
    color: var(--whiteyellow);
    cursor: pointer;
}
#divMenu i:hover {
    color: var(--darkred);
    transform: scale(1.1);
}

#ul-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto 0;
}
.div-ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.textMenu {
    font-size: 13px;
    color: var(--whiteyellow);
}
.item-menu {
    transition: 0.3s;
}
.textMenuItem{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--whiteyellow);
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s, color 0.2s;
}

.nav-item i {
    display: flex;
    font-size: 15px;
    transition: transform 0.2s;
    align-items: center;
    align-content: center;
}

#navBar.minimized .item-menu{
    padding: 5px;
}
#navBar.minimized .div-ul{
    align-items: center;
}

#navBar.minimized .nav-item{
    padding: 10px;
}

#navBar.minimized .nav-item i{
    display: flex;
}

@media (hover: hover){
    .nav-item:hover {
        background-color: var(--darkred);
        color: var(--whiteyellow);
        transform: translateX(5px);
    }
    .nav-item:hover i {
        transform: scale(1.1) rotate(6deg);
    }
    #navBar.minimized .nav-item:hover{
        padding: 10px;
    }
}

/* NAV BAR ADM - MOBILE/TABLET */
@media (max-width: 768px) {
    #navBar {
        display: none;
    }
    #navBarResponsivo {
        display: flex;
        width: 100vw;
        height: 70px;
        top: unset;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--darkpink);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        flex-direction: row;
    }

    #adm {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    #ul-nav {
        flex-direction: row;
    }

    .div-ul {
        flex-direction: row;
        display: flex;
        gap: 1.2rem;
        align-items: center;
    }

    .div-ul .textMenuItem{
        display: none;
    }
    .textMenu {
        display: none;
    }

    #div-outros-mobile .textMenuItem {
        display: flex;
        color: var(--black);
    }
    #div-outros-mobile .nav-item i {
        color: var(--black);
    }

    .nav-item i {
        font-size: 25px;
    }

    #div-outros-mobile {
        justify-content: center;
        position: absolute;
        top: 70px;
        height: 150px;
        right: 0;
        min-width: 100px;
        background: var(--white);
        padding: 10px;
        border-radius: 0px 0px 5px 5px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 1000;
        flex-direction: column;
        gap: 1rem;
    }

    .item-menu {
        list-style: none;
    }
      
    #div-outros-mobile.show-menu {
        display: flex;
    }
    
    #buttonMenuMobile.clicked {
        transform: scale(1.2);
    }

    #buttonMenuMobile {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 26px;
        color: var(--whiteyellow);
        z-index: 1100;
        cursor: pointer;
    }    

    #buttonMenuMobile.ativo {
        transform: scale(1.2) rotate(10deg);
    }
}

@media (max-width: 480px){
    #div-outros-mobile {
        justify-content: center;
        position: absolute;
        top: 70px;
        height: 150px;
        right: 0;
        min-width: 100px;
        background: var(--white);
        padding: 10px;
        border-radius: 0px 0px 5px 5px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 1000;
        flex-direction: column;
        gap: 1rem;
    }
}